@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans|Ubuntu');

html {
  font-size: 50px;
}
a {
  color: white;
  text-decoration: none;
}
p, a, span, figcaption {
  font-family: 'Ubuntu', sans-serif;
}
hr {
  width: 100%;
  opacity: 0;
  height: 0px;
}
body {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.svg {
  background-size:100% 99px;
  bottom: 0;
  height: 99px;
  z-index: 2;
  width: 100%;
}
.colored-svg {
  background-color: #2a3443;
}
.container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 15%;
  margin-right: 15%;
  line-height: 1.3;
}
h1, h2, h3 {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
h2 {
  font-size: 2.75rem;
  font-weight: bold;
}
section {
  width: 100%;
  display: flex;
  justify-content: center;
}
section .container {
  margin-bottom: 8rem;
}
section h2, section p {
  max-width: 35rem;
  text-align: center;
}
.underline {
  width: 3rem;
  height: 0.2rem;
  background-color: #368ff4;
  border-radius: 10px;
  margin: 1rem 0px;
}

/* 2k versie */
@media only screen and (max-width: 2880px) {
  html {
    font-size: 38px;
  }
}

/* hd versie */
@media only screen and (max-width: 1920px) {
  html {
    font-size: 25px;
  }
}

/* 3/4hd versie */
@media only screen and (max-width: 1440px) {
  html {
    font-size: 19px;
  }
}

/* tablet fix */
@media only screen and (max-width: 1200px) {
  html {
    font-size: 16px;
  }
}
