#footer {
  width: 100%;
  color: white;
  background-image: linear-gradient(140deg,#4f9df5 0%,rgba(4, 121, 253, 0.8) 100%),url(../../images/backgrounds/footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#footer span, #footer p, #footer a, #footer figcaption {
  font-family: 'Open Sans', sans-serif;
}
#footer .container {
  margin-top: 8rem;
  flex-wrap: nowrap;
}
#footer .footer-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
  height: 100%;
  z-index: 1;
}
#footer #contactformulier {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
#footer #contactformulier .form-div2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-right: 3rem;
}
#footer #contactformulier span {
  width: 100%;
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}
#footer #contactformulier .name, #contactformulier .mail {
  width: 50%;
  height: 1.5rem;
  box-sizing: border-box;
}
#footer #contactformulier .name {
  padding-right: 2rem;
}
#footer #contactformulier .text {
  height: 12rem;
  width: 100%;
}
#footer #contactformulier .submit {
  height: 2rem;;
  width: 8rem;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 1rem;
  border: none;
  border-radius: 6px;
  background-color: white;
  color: #368ff4;
  font-size: 1rem;
  letter-spacing: 2px;
  font-family: 'Ubuntu', sans-serif;
  transition: background-color 0.15s linear, color 0.15s linear;
  -webkit-appearance: none;
}
#footer #contactformulier .submit:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}
#footer #contactformulier input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: transparent;
  color: white;
  border: none;
  border-bottom: 0.1rem solid white;
  padding-left: 1rem;
  font-size: 1rem;
  border-radius: 0px;
}
#footer #contactformulier textarea {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  resize: none;
  background: transparent;
  color: white;
  border: none;
  border-bottom: 0.1rem solid white;
  margin-right: 2rem;
  padding-top: 2rem;
  padding-left: 1rem;
  font-size: 1rem;
}
#footer #contactformulier ::-webkit-input-placeholder { /* Edge */
    color: white;
    font-weight: bold;
}
#footer #contactformulier :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    font-weight: bold;
}
#footer #contactformulier ::placeholder {
    color: white;
    opacity: 1;
    font-weight: bold;
}
#footer #contactformulier input:focus, #contactformulier textarea:focus {
  outline: none;
}
#footer .social-media {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#footer .social-media a {
  height: 2rem;
  min-height: 34px;
  width: 2rem;
  min-width: 34px;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .social-media img {
  height: 100%;
  width: 100%;
}
#footer .social-media #instagram-icon {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
#footer .footer-right {
  min-width: 12rem;
  width: 25%;
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-end;
  justify-content: space-between;
  height: 100%;
  z-index: 1;
}
#footer address, .address-title, #footer address a, tr, .openingstijden {
  width: 100%;
}
#footer #kantoor {
  margin-bottom: 1rem;
}
#footer #contact {
  margin-top: 1rem;
}
#footer address {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#footer .address-title {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}
#footer table {
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  display: block;
}
#footer th {
  text-align: left;
  padding-right: 1rem;
}
#footer .openingstijden {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#footer .copyright-bar {
  height: 1.5rem;
  width: 100%;
  background-color: black;
  position: relative;
  z-index: 1;
}
#footer .copyright-bar .container {
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}
#footer .copyright-bar a {
  font-size: 0.75rem;
  color: lightblue;
  margin-right: 1rem;
}
#footer .copyright-bar a:hover {
  color: white;
}

@media only screen and (max-width: 700px) {
  #footer .container {
    flex-wrap: wrap;
    margin-top: 2rem;
    min-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  #footer .footer-right, .footer-left {
    width: 100%;
    flex-basis: 100%;
  }
  #footer #contactformulier .form-div2 {
    padding-right: 5%;
  }
  #footer #contactformulier .form-div2 span {
    margin-bottom: 1rem;
  }
  #footer table {
    table-layout: fixed;
    width: 100%;
  }
  #footer tbody {
    width: 100%;
    display: block;
  }
  #footer tr {
    width: 100%;
  }
  #footer th {
    padding-right: 20vw;
  }
  #footer .copyright-bar {
    height: 2.5rem;
  }
}
