#indexHeader {
  width: 100%;
}
#indexHeader address {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #368ff4;
  font-size: 75%;
}
#indexHeader address .container {
  justify-content: flex-start;
  width: 80%;
}
#indexHeader address figure {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  padding: 0.5rem 0px;
}
#indexHeader address figure img {
  margin-right: 0.2rem;
}
#indexHeader .jumbotron {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #3644af;
  background-image: url(../images/backgrounds/section-bg-hero8.png),radial-gradient(circle at center,#3644af 38%,#368ff4 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
#indexHeader .jumbotron .container {
  width: 70%;
  height: 100%;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
#indexHeader .jumbotron .container img {
  width: 15%;
  margin-bottom: 2rem;
}
#indexHeader .jumbotron .container h1 {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
#indexHeader .jumbotron .container p {
  text-align: center;
  margin-bottom: 1.5rem;
  max-width: 40rem;
}
#indexHeader .jumbotron .container .button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 9rem;
  background-color: white;
  color: #3644af;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.2s linear, color 0.2s linear;
}
#indexHeader .jumbotron .container .button:hover {
  background-color: blue;
  color: white;
}
#indexHeader nav {
  width: 100%;
  border-bottom: 10px solid #368ff4;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 8rem;
}
#indexHeader nav .container {
  max-width: 22rem;
  min-width: 19rem;
  width: 33.33%;
}
#indexHeader nav .container ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0px 1.25rem 0px;
}
#indexHeader nav .container ul li {
  font-weight: bold;
  color: #368ff4;
}
#indexHeader nav .container ul li:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 700px) {
  #indexHeader address figure figcaption {
    display: none;
  }
  #indexHeader .jumbotron .container h1 {
    font-size: 2rem;
  }
  #indexHeader .jumbotron .container p {
    font-size: 1rem;
  }
  #indexHeader .jumbotron .container img {
    width: 25%;
    margin-bottom: 1rem;
  }
  #indexHeader .jumbotron {
    height: auto;
    padding-top: 2rem;
    background-position: left;
  }
}
