#reviewsMain .reviews {
  height: 20rem;
}
#reviewsMain .container {
  margin-bottom: 0px;
}
#reviewsMain .currentStats {
  padding-bottom: 2rem;
}
#reviewsMain .currentStats figure {
  position: relative;
}
#reviewsMain .currentStats .full, #reviewsMain .currentStats .empty {
  height: 4rem;
}
#reviewsMain .currentStats div img {
  height: 100%;
}
#reviewsMain .empty img {
  filter: invert(86%) sepia(9%) saturate(21%) hue-rotate(10deg) brightness(100%) contrast(86%);
}
#reviewsMain .full {
  position: absolute;
  top: 0;
  width: 75%;
  overflow: hidden;
}
#reviewsMain .full img {
  filter: invert(59%) sepia(73%) saturate(1397%) hue-rotate(1deg) brightness(106%) contrast(102%);
}

#reviewsMain #reviewScore {
  unicode-bidi: bidi-override;
  direction: rtl;
}
#reviewsMain #reviewScore input:hover ~ label {
  filter: invert(59%) sepia(73%) saturate(1397%) hue-rotate(1deg) brightness(106%) contrast(102%);
}
#reviewsMain .currentStats .container p {
  min-width: 100%;
  text-align: center;
  padding-top: 2rem;
}

#reviewsMain .currentReviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  overflow: hidden;
  background-color: #f3f5f9
}
#reviewsMain .currentReviews h2 {
  min-width: 100%;
  text-align: center;
  padding-bottom: 1rem;
}
#reviewsMain .currentReviews p {
  padding-bottom: 2rem;
}

#reviewsMain .visibleReviews {
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  left: 0;
  right: 0;
  box-sizing: border-box;
  z-index: 1;
}
#reviewsMain .visibleReviews div {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 0.3rem;
  width: 18%;
  height: 80%;
  margin: 0 1% 0 1%;
}
#reviewsMain .visibleReviews div p {
  width: 100%;
  text-align: center;
}
#reviewsMain .visibleReviews div span {
  height: 10%;
  width: 100%;
  text-align: center;
}

#reviewsMain .visibleReviews-translate-next {
  transition: left 0.5s ease-out;
  left: 20%;
}
#reviewsMain .visibleReviews-translate-prev {
  transition: left 0.5s ease-out;
  left: -20%;
}
#reviewsMain #reviewOverlay1, #reviewsMain #reviewOverlay2 {
  position: relative;
  bottom: 20rem;
  background-color: #f3f5f9;
  z-index: 2;
  width: 20%;
  height: 20rem;
  margin-bottom: -15rem;
  display: flex;
  align-items: center;
}
#reviewsMain #reviewOverlay1 {
  margin-left: 0px;
  margin-right: auto;
  justify-content: flex-end;
}
#reviewsMain #reviewOverlay2{
  margin-left: auto;
  margin-right: 0px;
  justify-content: flex-start;
}

#reviewsMain #reviewPrev, #reviewsMain #reviewNext {
  font-size: 2rem;
  color: black;
  padding: 0.5rem;
}
#reviewsMain #reviewPrev:hover, #reviewsMain #reviewNext:hover {
  background-color: lightgray;
}
#reviewsMain .writeReviews {
  flex-wrap: wrap;
  background-color: #f3f5f9;
}
#reviewsMain .writeReviews .container {
  justify-content: flex-start;
}
#reviewsMain .writeReviews .container h3 {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  text-align: left;
  width: 100%;
}
#reviewsMain .writeReviews .container form {
  width: 60%;
}
#reviewsMain .writeReviews .container form input {
  font-family: 'Ubuntu', sans-serif;
}
#reviewsMain #reviewInput {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#reviewsMain #reviewInput #reviewNaam, #reviewsMain #reviewInput #reviewTitel {
  width: 50%;
}
#reviewsMain #reviewNaam {
  padding-right: 1%;
  box-sizing: border-box;
}
#reviewsMain #reviewScore {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#reviewsMain #reviewScore input {
  display: none;
}
#reviewsMain #reviewScore label {
  display: block;
  height: 3rem;
  width: 3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../images/icons/star.svg");
  filter: invert(86%) sepia(9%) saturate(21%) hue-rotate(10deg) brightness(100%) contrast(86%);
}
#reviewsMain #reviewInput #reviewNaam input, #reviewsMain #reviewInput #reviewTextarea, #reviewsMain #reviewInput #reviewTextarea textarea {
  width: 100%;
  box-sizing: border-box;
}
#reviewsMain #reviewInput #reviewNaam input, #reviewsMain #reviewInput #reviewTextarea textarea {
  color: #999;
  background-color: #eee;
  border: 0px;
  padding: 1rem;
}
#reviewsMain #reviewInput #reviewTextarea textarea {
  height: 8rem;
}
#reviewsMain #reviewInput .submit {
  margin-left: auto;
  margin-right: 0px;
  background-color: #368ff4;
  border-radius: 0.3rem;
  letter-spacing: 2px;
  color: white;
  padding: 0.8rem;
  font-size: 1rem;
  border: 0px;
  font-weight: bold;
}
