#reviewMain .reviews {
  height: 20rem;
}
#reviewMain .currentStats {
  padding-bottom: 5rem;
}
#reviewMain .currentStats figure {
  position: relative;
}
#reviewMain .currentStats .full, #reviewMain .currentStats .empty {
  height: 2rem;
}
#reviewMain .currentStats div img {
  height: 100%;
}
#reviewMain .empty img {
  filter: invert(86%) sepia(9%) saturate(21%) hue-rotate(10deg) brightness(100%) contrast(86%);
}
#reviewMain .full {
  position: absolute;
  top: 0;
  width: 75%;
  overflow: hidden;
}
#reviewMain .full img {
  filter: invert(59%) sepia(73%) saturate(1397%) hue-rotate(1deg) brightness(106%) contrast(102%);
}

#reviewMain #reviewScore {
  unicode-bidi: bidi-override;
  direction: rtl;
}
#reviewMain #reviewScore input:hover ~ label {
  filter: invert(59%) sepia(73%) saturate(1397%) hue-rotate(1deg) brightness(106%) contrast(102%);
}
#reviewMain .currentStats .container p {
  width: 100%;
  text-align: center;
}

#reviewMain .currentReviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  overflow: hidden;
}

#reviewMain .visibleReviews {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  left: 0;
  right: 0;
  border: 1px solid blue;
  box-sizing: border-box;
  z-index: 1;
}
#reviewMain .visibleReviews div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: lightgray;
  width: 18%;
  height: 80%;
  margin: 0 1% 0 1%;
}
#reviewMain .visibleReviews div p {
  height: 80%;
  width: 100%;
  text-align: center;
}
#reviewMain .visibleReviews div span {
  height: 10%;
  width: 100%;
  text-align: center;
}

#reviewMain .visibleReviews-translate-next {
  transition: left 0.5s ease-out;
  left: 20%;
}
#reviewMain .visibleReviews-translate-prev {
  transition: left 0.5s ease-out;
  left: -20%;
}
#reviewMain #reviewOverlay1, #reviewMain #reviewOverlay2 {
  position: relative;
  bottom: 15rem;
  background-color: white;
  z-index: 2;
  width: 20%;
  height: 15rem;
  margin-bottom: -15rem;
  display: flex;
  align-items: center;
}
#reviewMain #reviewOverlay1 {
  margin-left: 0px;
  margin-right: auto;
  border-right: 1px solid blue;
  justify-content: flex-end;
}
#reviewMain #reviewOverlay2{
  margin-left: auto;
  margin-right: 0px;
  border-left: 1px solid blue;
  justify-content: flex-start;
}

#reviewMain #reviewPrev, #reviewMain #reviewNext {
  font-size: 2rem;
  color: black;
  padding: 0.5rem;
}
#reviewMain #reviewPrev:hover, #reviewMain #reviewNext:hover {
  background-color: lightgray;
}

#reviewMain .writeReviews form {
  width: 70%;
}
#reviewMain #reviewInput {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#reviewMain #reviewInput #reviewNaam, #reviewMain #reviewInput #reviewTitel {
  width: 50%;
}
#reviewMain #reviewNaam {
  padding-right: 1%;
  box-sizing: border-box;
}
#reviewMain #reviewScore {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#reviewMain #reviewScore input {
  display: none;
}
#reviewMain #reviewScore label {
  display: block;
  height: 3rem;
  width: 3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/icons/star.svg");
  filter: invert(86%) sepia(9%) saturate(21%) hue-rotate(10deg) brightness(100%) contrast(86%);
}
#reviewMain #reviewInput #reviewNaam input, #reviewMain #reviewInput #reviewTextarea, #reviewMain #reviewInput #reviewTextarea textarea {
  width: 100%;
  box-sizing: border-box;
}
